In [21]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [22]:
data = pd.read_csv(r"D:\MIT ADT\ML Lab\housing price dataset\Housing (1).csv")

In [23]:
data.shape

(545, 13)

In [24]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [25]:
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [42]:
x = data.iloc[:,1:12]

In [43]:
y = data['price']

In [29]:
data['mainroad']=le.fit_transform(data['mainroad'])

In [30]:
data['guestroom']=le.fit_transform(data['guestroom'])

In [31]:
data['basement']=le.fit_transform(data['basement'])

In [32]:
data['hotwaterheating']=le.fit_transform(data['hotwaterheating'])

In [33]:
data['airconditioning']=le.fit_transform(data['airconditioning'])

In [34]:
data['prefarea']=le.fit_transform(data['prefarea'])

In [36]:
data['furnishingstatus']=le.fit_transform(data['furnishingstatus'])

In [37]:
print(data)

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

     basement  hotwaterheating  airconditioning  parking  prefarea  \
0           0                0                1        2         1
1           0                0                1        3         0
2           1                0                0        2         1
3           1                0                1        3         1
4           1                0                1        2         0
..        ...              ...              ...      ...       ...
540         1                0                0        2         0
541         0                0                0        0         0
542         0                0                0        0         0
543         0                0                0        0         0
544         0                0                0        0         0

     furnishingstatus
0                   0
1                   0
2                   1
3                   0
4                   0
..                ...
540                 2
541                 1
542                 2
543                 0
544                 2

[545 rows x 13 columns]

In [38]:
from sklearn.model_selection import train_test_split

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [44]:
x_std = scaler.fit_transform(x)

In [46]:
x_train,x_test,y_train,y_test = train_test_split(x_std,y,test_size=0.3,random_state=0)

In [47]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor()

In [65]:
mlp = MLPRegressor(hidden_layer_sizes=(100,200),activation='identity',solver='lbfgs', max_iter=100).fit(x_train,y_train)

In [66]:
mlp.score(x_train,y_train)*100

64.97919848579463

In [67]:
mlp.score(x_test,y_test)*100

71.87023754082729

In [68]:
from sklearn.metrics import confusion_matrix,classification_report,plot_confusion_matrix

In [69]:
y_pred = mlp.predict(x_test)